extends ../layout

block content
  h2 Welcome to Accounting
  p This is basic account systme, where I am using double entry book keeping to record all type of account. The project is create as an open source altenrate to accounting. 

  p There are many things in this project. We are using chart of accounting, so each account has different code with respect of chart of account. 
