doctype html
html(lang="en")
  head
    meta(http-equi='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=devise-width, initial-scale=1,maximum-scale=1.0')
    title= Accounting
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.light-blue.lighten-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='#') WebLedger - Dashboard
        ul.right.hide-on-med-and-down
          if isLoggedIn
            li
              a(href='/system/profile') Profile 
            li
              a(href='/system/logout') Logout 

          else
            li
              a(href='/system/login') Login 
            li
              a(href='/system/signup') Signup
              
        a.sidenav-trigger(href='#' data-target='nav-mobile')
          i.material-icons menu
    #index-banner.section.no-pad-bot
      .container
        .div.row
          .div.col.m2.s12
            if successes
              for success in successes
                div.alert.alert-success #{success}
            if errors
              for error in errors
                div.alert.alert-danger #{error}
            ul.sidenav-fixed
              li
                a(href='#') Accounts
              li
                a(href='#') Sales
              li
                a(href='#') Purchase
              li
                a(href='#') Receipts
              li
                a(href='#') Voucher
              li 
                a(href='#') Trial Balance
              li
                a(href='#') Balance Sheet
          .div.col.m10.s12
            block content

    script(src='/js/jquery-2.1.1.min.js')
    script(src='/js/materialize.min.js')
    script(src='/js/script.js')

    block scripts
